.table-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.search-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.college-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

}

.college-table th,
.college-table td {
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
}

.college-table th {
    background-color: #f4f4f4;
    font-weight: bold;
    color: #333;
}

.college-name-header {
    width: 35%;
    padding-left: 20px;
}

.rating-header,
.fees-header,
.review-rating-header,
.featured-header {
    width: 15%;
    text-align: center;
}

.college-name-cell {
    padding-left: 20px;
    position: relative;
    text-align: center;
    /* Center horizontally */
    vertical-align: middle;
    /* Center vertically */
}

.rating-cell,
.fees-cell,
.review-rating-cell,
.featured-cell {
    text-align: center;
    position: relative;
}

.college-row.featured {
    background-color: #fffbcc;
}

.college-row:hover {
    background-color: #f1f1f1;
}

.fees-cell {
    color: #28a745;
    font-weight: bold;
}

.featured-cell {
    font-weight: bold;
}

.featured-label {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: #ff4136;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 3px;
    z-index: 1;
}

.college-name-cell .college-name {
    display: inline-block;
    padding-top: 0;
    /* Remove any additional padding */
    padding-bottom: 0;
    /* Ensure full vertical centering */
    position: relative;
    z-index: 0;
    font-weight: bold;
    /* Optionally make the text bold */
}






.college-table th.sortable {
    cursor: pointer;
    position: relative;
}

.college-table th.sortable:hover {
    color: #061a2e;
    /* Change color on hover */
    text-decoration: underline;
    /* Underline text on hover */
}

.college-table th.sortable::after {
    content: ' ⯆';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    /* Hide the icon initially */
    transition: opacity 0.3s;
    /* Smooth transition */
}

.college-table th.sortable:hover::after {
    opacity: 1;
    /* Show the icon on hover */
}






@media (max-width: 768px) {

    .college-name-header,
    .college-name-cell {
        padding-left: 10px;
    }

    .college-table th,
    .college-table td {
        padding: 10px;
    }
}